<h1>Update Post</h1>

<%= form_with model: @post, url: post_path(@post), method: "patch" do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.submit "Update" %>
  </div>
<% end %>

<%= link_to "Delete Post", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
<%= link_to "Cancel", post_path(@post) %>
