<h1>Blog Posts</h1>

<% if @user %>
  <%= link_to "New Post", new_post_path %>
<% end %>

<br><br>

<% if @posts.length > 0 %>
  <table>
    <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post)  %></td>
        <td><strong>by:</strong><%= post.user.email %></td>
        <td><strong>date:</strong><%= post.updated_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
<p>There are no posts yet. Login or signup to make a post</p>
<% end %>
