<h1>New Post</h1>

<%= form_with model: @post, url: posts_path do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.submit "Post!" %>
  </div>
<% end %>
