<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if @user %>
      <%= link_to "Sign out", logout_path %>
    <% else %>
      <%= link_to "Log in", new_login_path %>
      <%= link_to "Register", new_registration_path %>
    <% end %>
    <div><%= notice %></div>
    <div><%= alert %></div>
    <%= yield %>
  </body>
</html>
